@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: #fff;
  background-color: rgb(12, 11, 11);
}

:root{
  cursor: default;
}

::selection{
  color: black;
  background-color: orange;
}

img{
  max-width: 100%;
}

img:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

@media only screen and (min-width: 1000px) {
  .minw{
    min-width: 80rem;
  }
}
 
div.postpage div.content p{
 line-height: 1.6rem; 
}


.neon:hover{
  text-shadow:0 0 0 transparent,
0 0 10px #b6b0b0,
0 0 20px rgba(239, 239, 239, 0.5),
0 0 40px #4d4a4b;
}

@layer components{
  .post-style{
    @apply grid grid-cols-2 gap-4 pb-7 p-6 cursor-pointer
  }
  .post-headline{
    @apply no-underline text-inherit font-bold text-3xl
  }
  input{
    @apply block mb-2 w-full p-4 border-gray-400 rounded bg-slate-300 text-black font-semibold
  }
  button{
    @apply w-full block bg-blue-600 border-0 text-gray-50 text-xl rounded p-3
  }
  h1{
    @apply text-4xl pb-4 text-center font-bold
  }
  .smmedia{
    @apply md:grid-cols-1 sm:grid-cols-1 
  }
}

form.login , form.register{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main{
  padding: 0 15px;
}
form.login h1, form.register h1{
  /* text-align: center; */
}